include /node_modules/bemto.pug/bemto.pug
- set_bemto_settings({ modifier: '--' })

// Миксин позволяет короче создавать SVG (возможно в нем нет потребности)
mixin svg-symbol(id, cls = '')
  svg(class=`svg-symbol svg-symbol--${id} ${cls ? cls : ''}`)
    use(xlink:href='#' + id)